<h1>Users#show : PROFIL USER</h1>
<p><strong>Informations du curren_user :</strong></p>
<p>Email : <%= current_user.email %></p>  
  
<%= link_to 'Editer le profil', edit_user_registration_path(current_user.id), class:"btn btn-success" %>

