<div class="container">
  <div class="row">
    <div class="col-md-12 pt-5">
    <div class="alert alert-success" role="alert">
  
      <h1 class="text-center">La commande est bien passée ! Merci !</h1>
      <div class="d-flex justify-content-center pt-5">
    <%= link_to  "Continuer le Shopping", root_path, class: "btn btn-secondary btn-lg me-5"%>
</div>
    </div>
  </div>

</div>
</div>