.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.sec-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}